<h1>Your Invoice</h1>
<p>We are now gathering your items and will be deliver to you shortly.</p>

<p>Thank you for your services.</p>


<%= link_to "home", root_url(:item3 => 3), :class => "btn btn-primary"%>
