<p id="notice"><%= notice %></p>
<!--
<p>
  <strong>Product:</strong>
  < %= @cart.product.name %>
</p>

<p>
  <strong>User:</strong>
  < %= @cart.user.name %>
</p>

<p>
  <strong>Quantity:</strong>
  < %= @cart.quantity %>
</p>
-->
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', product_carts_path(@cart.products)  %>
